:root {
	--accent-color-light: #ffdfba;
	--accent-color-dark: #95a8a9;
}
html {
	background-size: 100vw 300px;
}
details {
  background-color: #f9f9f9;
  border: 1px solid var(--code-border-color);
  border-radius: 4px;
  padding: 0.5em;
}