:root {
	--accent-color-light: #bde2e2;
	--accent-color-dark: #95a8a9;
}
html {
	background-size: 100vw 380px;
}
section > h1 {
	background-color: transparent;
	background-image: url("paint-stroke-brush-teal.png");
	background-repeat: no-repeat;
}
section.exercice {
  background-color: #f9f9f9;
  border: 1px solid var(--code-border-color);
  border-radius: 4px;
  padding: 0.5em;
  margin-top: 3.5rem;
}
section.exercice h2 {
	margin-top: 0;
}