:root {
	--accent-color-light: #ffe5b7;
	--accent-color-dark: #264653;
}
html {
	background-size: 100vw 430px;
}
details {
  border: 1px solid var(--code-border-color);
  border-radius: 4px;
  padding: 0.5em;
}
details ol {
	padding-left: 2rem;
}
