@charset "UTF-8";
.header-section-number {
	padding: 0 0.5rem 0 0;
	display: inline;
}
h2#toc-title {
	margin: 2rem 0 0 0;
}
nav#TOC {
	width: 57%;
}
nav#TOC ul {
	width: 100%;
	text-indent: -1rem;
	padding: 0 0 0 2rem;
	margin: 1rem 0;
	font-size: 0.9rem;
}
nav#TOC ul ul {
	margin: 0;
}
nav#TOC ul li:before {
	content: '';
	margin: 0;
}
span.toc-section-number {
	padding-right: 5px;
}

@media screen and (max-width: 900px) {
	nav#TOC {
		width: 100%;
	}
	nav#TOC ul {
		font-size: 0.7rem;
		padding: 0 0 0 1rem;
	}
}