@charset "UTF-8";
/* LAYOUT */

h2 {
	font-size: 1rem;
}
h2 {
	font-family: var(--mono);
	font-style: normal;
	font-weight: bold;
}
dl {
	margin: 0;
	padding: 0;
}
dt {
	float: left;
	padding-right: 0.5rem;
	font-weight: bold;
}
ul {
	padding: 0 0 0 1rem;
}

/* RESPONSIVENESS */

@media screen and (min-width: 900px) {
	article > p,
	article > ul {
		max-width: 700px;
	}
	body {
		margin: 0 auto 0 200px;
		padding-right: 50px;
	}
	h2 {
		display: block;
		position: absolute;
		left: 0;
		text-align: right;
		margin-top: 0.2rem;
		margin-left: -170px;
		width: 150px;
	}
}

@media screen and (max-width: 900px) {
	body { max-width: 700px; }
} 

/* SCREEN & PRINT */

@media screen {
	.lang-box, h1.title, .print { display:none; }
}

@media print {
	header, footer, h1#curriculum-vitæ { display: none; }
	body { font-size: 11pt; }
	.columns {columns: 2; column-gap: 2rem;}
	h1 { font-size: 13pt; }
	h2 { font-size: 9pt; }
	h3 { font-size: 12pt;}
	h2, h3 { break-after: avoid; margin-bottom: 0.2rem }
	h2+p, h3+p { margin-top: 0; }
	p, li { break-inside: avoid; }
	h1#organisation-de-manifestations-scientifiques {break-before: always}
	h2#section-10 {break-before:column}
}