@charset "UTF-8";

.lang-box {
	font-family: Inconsolata, monospace;
  display: flex;
  justify-content: space-between;
  width: 4rem;
}
.lang-flag {
	cursor: pointer;
	background-color: transparent;
	color: var(--font-color);
	border: 1px solid var(--font-color);
	border-radius: 5px;
}
.lang-flag--active {
	font-weight: bold;
	background-color: var(--font-color);
	color: var(--bg-color);
}