@charset "UTF-8";

/* FONTS */
@font-face {
  font-family: "et-book";
  src: url(../fonts/et-book-ligatures-enabled/et-book-roman-old-style-figures/etbookot-roman-webfont.woff2) format("woff2"), url(../fonts/et-book-ligatures-enabled/et-book-roman-old-style-figures/etbookot-roman-webfont.woff) format("woff"), url(../fonts/et-book-ligatures-enabled/et-book-roman-old-style-figures/ETBookOT-Roman.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "et-book";
  src: url(../fonts/et-book-ligatures-enabled/et-book-display-italic-old-style-figures/etbookot-italic-webfont.woff2) format("woff2"), url(../fonts/et-book-ligatures-enabled/et-book-display-italic-old-style-figures/etbookot-italic-webfont.woff) format("woff"), url(../fonts/et-book-ligatures-enabled/et-book-display-italic-old-style-figures/ETBookOT-Italic.otf) format("opentype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "et-book";
  src: url(../fonts/et-book-ligatures-enabled/et-book-bold-line-figures/etbookot-bold-webfont.woff2) format("woff2"), url(../fonts/et-book-ligatures-enabled/et-book-bold-line-figures/etbookot-bold-webfont.woff) format("woff"), url(../fonts/et-book-ligatures-enabled/et-book-bold-line-figures/ETBookOT-Bold.otf) format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
	font-family: Inconsolata;
	src: url(../fonts/Inconsolata-Regular.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: Inconsolata;
	src: url(../fonts/Inconsolata-Bold.ttf) format('truetype');
	font-weight: bold;
	font-style: normal;
}
:root {
  --serif: "et-book", Georgia, serif;
  --mono: Inconsolata, Menlo, Monaco, Consolas, monospace;
}

/* COLORS */
:root[color-mode="light"] {
	--accent-color: #a00000;
	--muted-color: #A0A0A0;
	--font-color: #111111;
	--bg-color: #fefefe;
	--code-bg: #f5f5f5;
	--code-border: #ccc;
}
:root[color-mode="dark"] {
	--accent-color: #ff6266;
	--muted-color: #A0A0A0;
	--font-color: rgba(255,255,255,0.9);
	--bg-color: #212121;
	--code-bg: #383344;
	--code-border: #464055;
}
:root[color-mode="light"] .light--hidden { display: none; }
:root[color-mode="dark"] .dark--hidden { display: none; }

/* BASE */
* { box-sizing: border-box; }
html {
	height: 100%;
	text-align: baseline;
	font-size: 18px;
}
body {
	margin: 0 auto;
	padding: 0 2.5%;
	font-family: var(--serif);
	font-kerning: normal;
	font-variant-ligatures: common-ligatures;
	background-color: var(--bg-color);
	color: var(--font-color);
	max-width: 1000px;
	counter-reset: sidenote-counter;
}
article {
	position: relative;
	padding: 0rem 0rem 2.5rem 0rem;
}
section {
	padding: 0 0 1rem 0;
}

/* HEADER */
header {
	display: flex;
	align-items: center;
	max-width: 650px;
	margin: 1rem 0 1rem 0;
	padding: 0;
	overflow: hidden;
}
header nav {
	float: left;
	margin: 0;
	overflow: hidden;
}
header nav a {
	vertical-align: baseline;
	color: var(--accent-color);
	text-decoration: none;
	font-size: 1.5em;
	font-weight: normal;
	margin-right: 1rem;
	font-style: italic;
}

/* FOOTER */
footer {
	font-family: var(--mono);
	font-weight: 700;
	font-size: 0.8rem;
	margin: 0;
	padding: 2rem 0 5rem 0;
	text-align: center;
	color: var(--accent-color)
}

/* HEADINGS */
h1, h2, h3 {
	font-style: italic;
	font-weight: normal;
	color: var(--accent-color);
}

/* PARAGRAPHS */
p {
	line-height: 1.5
}

/* LISTS */
li {
	line-height: 1.5;
}

/* TYPOGRAPHY */
.smallcaps { font-variant: small-caps; }
strong { font-weight: bold }
.publications p {
	padding-left: 1rem;
	text-indent: -1rem;
}
em em,
h1 em,
h2 em,
h3 em,
h1 code,
h2 code,
h3 code {
  font-style: normal;
}

/* LINKS */
a { word-break: break-word; }

:target { animation: highlight 5s ease; }
@keyframes highlight {
  0% { background-color: #ffa; }
  100% { background-color: var(--bg-color); }
}

div a:link, div a:visited,
p > a:link, p > a:visited,
.citation a:link, .citation a:visited,
.sidenote a:link, .sidenote a:visited,
.marginnote a:link, .marginnote a:visited,
li a:link, li a:visited,
figcaption a:link, figcaption a:visited {
	color: inherit;
}

div a:link,
p > a:link,
.citation a:link,
.sidenote a:link,
.marginnote a:link,
li a:link {
    text-decoration: none;
    background: -webkit-linear-gradient(var(--bg-color), var(--bg-color)), -webkit-linear-gradient(var(--bg-color), var(--bg-color)), -webkit-linear-gradient(currentColor, currentColor);
    background: linear-gradient(var(--bg-color), var(--bg-color)), linear-gradient(var(--bg-color), var(--bg-color)), linear-gradient(currentColor, currentColor);
    -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    background-repeat: no-repeat, no-repeat, repeat-x;
    text-shadow: 0.03em 0 var(--bg-color), -0.03em 0 var(--bg-color), 0 0.03em var(--bg-color), 0 -0.03em var(--bg-color), 0.06em 0 var(--bg-color), -0.06em 0 var(--bg-color), 0.09em 0 var(--bg-color), -0.09em 0 var(--bg-color), 0.12em 0 var(--bg-color), -0.12em 0 var(--bg-color), 0.15em 0 var(--bg-color), -0.15em 0 var(--bg-color);
    background-position: 0% 93%, 100% 93%, 0% 93%; 
}

h3.contrast a:link {
	background: none;
	text-shadow: none;
	color: inherit;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
	div a:link, p > a:link, .citation a:link, .sidenote a:link, .marginnote a:link, li a:link {
		background-position-y: 87%, 87%, 87%;
	}
	caption a:link, figcaption a:link, .sidenote a:link, .marginnote a:link {
		background-position-y: 95%, 95%, 95%;
	}
}

div a:link::selection,
p > a:link::selection,
.citation a:link::selection,
.sidenote a:link::selection,
.marginnote a:link::selection,
li a:link::selection {
    text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
    background: #b4d5fe;
    text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
    background: #b4d5fe;
}

div a:link::moz-selection,
p > a:link::-moz-selection,
.citation a:link::-moz-selection,
.sidenote a:link::-moz-selection,
.marginnote a:link::-moz-selection,
li a:link::-moz-selection {
	text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
	background: #b4d5fe;
}

.marginnote a.linked-image {background: none;}


/* THEME BUTTON */
button {
	cursor: pointer;
}
.color-mode__btn {
	flex-shrink: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.2rem 0 0;
  margin: 0;
  font-family: var(--sans);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  color: #111111;
  color: var(--font-color);
  cursor: pointer;
  background: none;
  border: none;
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
}
.color-mode__btn svg {
  width: 30px;
  height: 30px;
  margin-left: 7px;
  fill: none;
  stroke: #222222;
  stroke: var(--font-color);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.5px;
}
.color-mode__btn:hover svg,
.color-mode__btn:focus svg, .color-mode__btn:focus {
  outline: none;
  fill: #fff7d6;
  fill: var(--tertiary, #fff7d6);
}

