:root {
	--sans: "Helvetica Neue", Helvetica, sans-serif;
	--serif: Georgia, Garamond, "Times New Roman", "Times", serif;
	--mono: Menlo, Monaco, Consolas, "Courier New", monospace;
	--code-background-color: #f5f5f5;
	--code-border-color: #cccccc;
	--accent-color-light: #ffefd4;
	--accent-color-lighter: #fff7e9;
	--accent-color-dark: #264653;
}

/* LAYOUT */

* {
	box-sizing: border-box;
}
html {
	color: #111111;
}
body {
  margin: 0;
  padding: 0;
	line-height: 1.5;
  font-family: var(--serif);
  display: grid; 
  grid-template-columns: 1fr minmax(700px,700px) minmax(300px,300px) 1fr; 
  grid-template-rows: auto auto auto; 
  gap: 0px 0px; 
  grid-template-areas: 
    "header header header header"
    ". main aside ."
    ". footer . . "; 
}
header {
  grid-area: header;
  background-color: var(--accent-color-light);
}
header > * {
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
}
main {
  grid-area: main;
  padding-bottom: 5vh;
}
header p.author,
header p.date,
header .updated {
	font-family: var(--sans);
	font-weight: bold;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}
header .updated {
	font-weight: normal;
}
header p.abstract {
  background-color: #f9f9f9;
  border: 1px solid var(--code-border-color);
  border-radius: 4px;
  padding: 0.5em;
  max-width: 70ch;
  font-family: var(--serif);
}
section hr+p:last-of-type {
	text-align: center;
}

/* ASIDE (TOC) */

aside {
  grid-area: aside;
	position: sticky;
	height: 80vh;
	top: 2em;
	padding: 2em 0 0 4em;
	font-size: 0.875em;
  font-family: var(--sans);
}
aside h1 {
	display: none;
}
aside ul {
	list-style-type: none;
	background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1) 10% 90%, rgba(255,255,255,0));
	z-index: 1;
	margin: 0;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
aside > nav > ul > li {
	position: relative;
	padding-bottom: 0.75em;
}
aside .toggle {
	cursor: pointer;
	position: absolute;
	left: -28px;
	top: -2px;
	padding: 2px 10px;
	color: #0056b3;
}
aside ul ul {
	padding-top: 0;
	padding-bottom: 0;
}

/* HEADINGS */

h1, h2, h3, h4 {
	font-family: var(--sans);
}
header h1 {
  font-size: 1.5em;
}
main h1, aside h1, main h2, main h3, main h4 {
	line-height: 1.2;
	padding-bottom: 0.2em;
	border-bottom: 1px solid rgba(0,0,0,0.3);
}
main h1 {
	font-size: 1.3em;
	margin: 3.5rem 0 0.5rem 0;
}
main > h1:first-child {
	margin-top: 0;
}
main h2 {
  font-size: 1.2em;
  margin: 3rem 0 0.3rem 0;
}
main h3 {
  font-size: 1em;
  margin: 2rem 0 0 0;
}
.header-section-number {
	padding: 0 0.5rem 0 0;
}
/* LINKS */

a {
	color: #0056b3;
	text-decoration: none;
}
a:hover {
	color: #00448f;
	text-decoration: underline;
}
:target { animation: highlight 3s ease; }
@keyframes highlight {
  0% { background-color: #ffa; }
  100% { background-color: #ffffff; }
}
a.cours {
	text-decoration: underline;
	text-decoration-style: dotted;
}
a.cours:hover {
	text-decoration-style: solid;
}

/* TABLES */

table {
	border-collapse: collapse;
	margin: 2rem 0;
	text-align: left;
	width: 100%;
}

tr { border: 1px solid gray; }
th, td { border: 1px solid gray; padding: 0.5rem; }

/* LISTS */

ul, ol {
	padding-left: 1.5rem;
}
dt {
  font-family: var(--sans);
  font-weight: bold;
  float: left;
  padding: 0 0.5rem 0 0;
  line-height: 1.4;
}
dd {
  padding: 0;
  margin: 1rem 0 1rem 2rem;
}

/* BLOCKQUOTES */

blockquote {
	margin-left: 2rem;
}

/* MEDIA */

img {
  max-width: 100%;
}
figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: var(--accent-color) 1px solid;
  padding: 15px 10px;
}
figcaption {
  font-size: 0.8rem;
  font-style: italic;
  padding: 1rem 0 0 0;
}

/* ADMONITIONS */

.résumé,
.astuce,
.tip,
.note,
.important,
.définition {
  position: relative;
  padding: 30px 10px 3px 10px;
  border-radius: 5px;
  margin: 1.5rem 0;
  font-size: 0.9rem;
}
.astuce::before,
.tip::before,
.note::before,
.important::before {
  content: attr(class);
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 12px;
  font-family: var(--mono);
}
.astuce, .tip, .note {
	background: rgb(225, 225, 225);
}
.important {
	background: rgb(239,178,178);
}
.résumé,
.définition {
	background: var(--code-background-color);
	border: 1px solid var(--code-border-color);
	padding-top: 3px;
	font-size: 16px;
	margin-top: 2em;
	font-size: 1.0625em;
}
.résumé::before {
	content: 'À retenir';
	display: block;
	font-style: italic;
}

/* CONTEXT BREAKS */

hr {
    background: none;
    border: 0;
    margin: 1.5em 0 0 0;
    padding: 0;
}
hr::after {
    content: '⁂';
    display: block;
    line-height: 1;
    text-align: center;
}

/* CODE */

code, pre {
	font-family: var(--mono);
}
code {
  display: inline-block;
  font-size: 90%;
  word-break: break-word;
}
p code,
ul code,
ol code,
dl code,
table code {
  background-color: var(--code-background-color);
  border: 1px solid var(--code-border-color);
  border-radius: 4px;
  padding: 0 0.2em;
}
pre {
  background-color: var(--code-background-color);
  border: 1px solid var(--code-border-color);
  border-radius: 4px;
  padding-left: 0.5em;
  margin: 1em 0;
  overflow-x: auto;
}
pre {
 white-space: pre-wrap;
 white-space: -moz-pre-wrap;
 white-space: -pre-wrap;
 white-space: -o-pre-wrap;
 word-wrap: break-word;
}
.code-highlight {
	font-weight: bold;
	color: orange;
}

/* DETAILS */

details summary {
	margin: 0;
}
details summary + * {
	margin-top: 1rem;
}

/* FOOTER */

footer {
  grid-area: footer;
  padding-bottom: 5vh;
}

/* SIDENOTES & MARGIN NOTES */
.sidenote, .marginnote {
	float: right;
	clear: both;
	z-index: -1;
	margin: 0.5em -44% 0 2em;
	width: 33%;
	color: #424242;
	font-size: 0.8rem;
	line-height: 1.3;
	vertical-align: baseline;
	position: relative;
}
.sidenote {
	text-indent: -1em;
}
.sidenote-number { counter-increment: sidenote-counter; }
.sidenote-number:after, .sidenote:before {
	color: var(--accent-color);
	position: relative;
	vertical-align: baseline;
}
.sidenote-number:after {
	content: counter(sidenote-counter);
	font-size: 0.8rem;
	top: -0.3rem;
	left: 0.1rem;
}
.sidenote:before {
	content: counter(sidenote-counter) "\2009"; // unicode for thin space
	color: var(--accent-color);
	top: 0rem;
}
.marginnote code, .sidenote code, figcaption code, caption code {
	font-size: inherit;
	line-height: inherit;
	margin: 0;
	font-weight: normal;
}
.marginnote img { margin-top: 0.75em; }
input.margin-toggle { display: none; }
label.sidenote-number { display: inline; }
label.margin-toggle:not(.sidenote-number) { display: none; }

/* REFERENCES */
#refs {
	margin-top: 1.5rem;
	width: 100%;
}
#refs a {
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-word;
}
#refs div {
	width: inherit;
	text-indent: -2rem;
	padding-left: 2rem;
	margin: 0.75rem 0 0 0;
	font-size: 0.9rem;
	line-height: 1.3;
}

/* SYNTAX HIGHLIGHTING */

/* KeyWordTok*/
.sourceCode .kw { color: #268BD2; }
/* DataTypeTok*/
.sourceCode .dt { color: #268BD2; }

/* DecValTok (decimal value), BaseNTok, FloatTok*/
.sourceCode .dv, .sourceCode .bn, .sourceCode .fl { color: #D33682; }
/* CharTok*/
.sourceCode .ch { color: #DC322F; }
/* StringTok*/
.sourceCode .st { color: #2AA198; }
/* CommentTok*/
.sourceCode .co { color: #93A1A1; }
/* OtherTok*/
.sourceCode .ot { color: #A57800; }
/* AlertTok*/
.sourceCode .al { color: #CB4B16; font-weight: bold; }
/* FunctionTok*/
.sourceCode .fu { color: #268BD2; }
/* RegionMarkerTok*/
.sourceCode .re { }
/* ErrorTok*/
.sourceCode .er { color: #D30102; font-weight: bold; }

/* CUSTOM DIVS */

div.gallery {
	display: flex;
	flex-direction: column;
}
div.gallery img {
	max-height: 50px;
	margin: 0 1rem;
}
div.colonnes {
	display: flex;
	flex-direction: row;
}
div.colonnes blockquote {
	margin: 0 1.5em;
	width: 50%;
	font-size: 0.9375em;
}

/* RESPONSIVE */

@media screen and (max-width: 1000px) {
	body {
		grid-template-columns: 1fr; 
		grid-template-rows: auto auto auto auto;
		gap: 0px 0px; 
		grid-template-areas: 
			"header"
			"aside"
			"main"
			"footer"; 
	}
	body > * {
		padding: 0 5vw;
	}
	header > *,
	main {
		margin-right: auto;
		margin-left: auto;
	}
	main {
		padding-bottom: 3vh;
	}
	aside {
		position: relative;
		height: auto;
		padding-left: 5vw;
		top: 0;
	}
	aside h1 {
		display: block
	}
	label.margin-toggle:not(.sidenote-number) {
		display: inline; color: var(--accent-color-dark);
	}
	.sidenote, .marginnote {
		display: none;
	}
	.margin-toggle:checked + .sidenote,
	.margin-toggle:checked + .marginnote {
		display: block;
		float: left;
		left: 1rem;
		clear: both;
		width: 95%;
		margin: 1rem 2.5%;
		vertical-align: baseline;
		position: relative;
	}
	label {
		cursor: pointer;
	}
	div.colonnes {
		display: flex;
		flex-direction: column;
	}
	div.colonnes blockquote {
		margin: 0 0 0 1.5em;
		width: 90%;
		font-size: 0.9375em;
	}
	blockquote {
		margin-left: 1rem;
		margin-right: 1rem;
	}
}

