@charset "UTF-8";

body {
	max-width: 1000px;
}

nav a { font-size: 1.2em; }
article p,
article ul,
article ol {
	width: 60%
}
article section {
	padding: 0;
}
.lang-box {display:none}

/* HEADINGS */
h1 { margin-top: 3rem }
h2 { margin-top: 2rem }
h1.title {
	font-size: 1.8rem;
	margin-top: 0.67em;
}
h1 { font-size: 1.5rem }
h2 { font-size: 1.3rem }
h3 { font-size: 1.2rem }
.header-section-number {
	padding: 0 0.5rem 0 0;
	display: none;
}

/* PARAGRAPHS */
p {
	font-size: 1.1rem;
	line-height: 1.5;
	hyphens: auto;
	-ms-hyphens: auto;
	-webkit-hyphens: auto;
}
p.date {
	font-family: var(--mono);
	opacity: 0.7;
	margin-top: -1rem;
	margin-bottom: 2rem;
	font-size: 1rem;
	font-weight: normal;
	font-style: normal;
	display: block;
	line-height: 1;
}
.abstract p, p.abstract,
.box p, p.box {
	border: 0.0625em solid currentColor;
	padding: 0.6875em;
	width: 57%;	
}
article {
	counter-reset: paragraph;
}
article p:before {
	content: counter(paragraph);
	counter-increment: paragraph;
	position: absolute;
	text-align: right;
	width: 15px;
	margin-left: -2em;
	font-family: var(--mono);
	font-weight: 400;
	font-size: 0.6em;
	line-height: 2.5em;
	opacity: 0.7;
}
#refs p:before,
blockquote > p:before,
p.subtitle:before,
p.date:before,
p.abstract:before,
.abstract p:before,
p.box:before,
.box p:before,
section#annexes p:before {
	content: none;
}
/* LISTS */
ul, ol {
	font-size: 1.1rem;
	width: 55%;
	margin: 1.5rem 0;
	padding-left: 25px;
}
li {
	margin: 0;
	line-height: 1.5;
}
ul {
	list-style-type: none;
}
article ul li:before {
	content: '\2014';
	position: absolute;
	margin-left: -25px;
}
li.listing:before {
	content: '';
	position: absolute;
	margin-left: 0;
}

/* REFERENCES */
#refs, #annexes {
	margin-top: 1.5rem;
	width: 100%;
}
#refs a {
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-word;
	color: var(--muted-color);
}
#refs a:hover {
	color: var(--accent-color);
}
#refs div, #annexes p {
	width: inherit;
	text-indent: -2rem;
	padding-left: 2rem;
	margin: 0.75rem 0 0 0;
	font-size: 1.1rem;
	line-height: 1.3;
}

/* BLOCKQUOTES */
blockquote {
margin-left: 2%;
margin-right: 0;
}
.epigraph blockquote p {
	width: 56%;
	text-align: right;
	margin-bottom: 3rem;
}


/* FIGURES */
figure, figure img.maincolumn {
	display: flex;
	max-width: 100%;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	margin: 2em 0;
}
figcaption {
	margin: 0 0 0 5em;
	font-family: var(--mono);
	font-weight: bold;
	font-size: 0.8rem;
	line-height: 1.3;
	vertical-align: baseline;
}
article figure figcaption {}
.fullwidth {
	max-width: 100%;
	clear: both;
}
figure.fullwidth figcaption,
.fullwidth figure figcaption {
	float: right;
	margin: 1rem 0 0 0;
}
figure.fullwidth,
.fullwidth figure {
	margin-bottom: 3rem;
	overflow-x: scroll;
	max-width: 100%;
}
img {
	max-width: 100%;
}
figure img {
	max-width: 60%;
}
iframe {
	width: 100vw; 
	height: 56.25vw; /* 100/56.25 = 560/315 = 1.778 */
	max-width: 700px;
	max-height: 400px;
	overflow-x: hidden;
	margin-top: 1em;
	border: none;
}
.h-sidebar-iframe { /* Hypothesis */
	max-height: 100%;
}

/* TABLES */
table.sourceCode.numberLines { border:none }
td.lineNumbers { padding: none; width: 2em }
td.sourceCode pre { width: 100% }
table {
	width: auto;
	margin: 0;
	border-spacing: 0px;
	border-top: 2px solid var(--font-color);
	border-bottom: 2px solid var(--font-color);
	font-family: var(--mono);
}
th {
	border-bottom: 1px solid var(--font-color);
	padding: 0.65ex 0.5em 0.4ex 0.5em;
	font-weight: normal;
	text-align: center;
}
th, td, caption {
	font-size: 0.9rem;
	line-height: 1.71428571;
}
tr:first-child td {
	padding-top: 0.65em;
}
td {
	padding: 0.25em 0.5em;
	text-align: left;
	vertical-align: top;
}
caption {
	text-align: center;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1ex;
	caption-side: bottom;
}

/* CODE */
code, pre, pre code, p code, p pre code {
	font-family: var(--mono);
	font-size: 1rem;
	line-height: 1.5;
	margin-top: 1.5rem;
}
p code,
ul code,
ol code {
	background-color: var(--code-bg);
	border: 1px solid var(--code-border);
	border-radius: 4px;
	padding: 0 0.2em;
}
article pre {
	background-color: var(--code-bg);
	border: 1px solid var(--code-border);
	border-radius: 4px;
	padding-left: 0.5em;
}
pre, table.sourceCode.numberLines {
	width: 60%;
	overflow-x: auto;
}

/* CONTEXT BREAKS */
hr {
    background: none;
    border: 0;
    margin: 1.5em 0 0 0;
    padding: 0;
}
hr::after {
    content: '⁂';
    display: block;
    opacity: 0.9;
    line-height: 1;
    text-align: center;
    width: 60%;
    color: var(--font-color);
}

/* SIDENOTES & MARGIN NOTES */
.sidenote, .marginnote {
	float: right;
	clear: right;
	margin-right: -70%;
	width: 55%;
	margin-top: 0;
	margin-bottom: 0rem;
	font-family: var(--mono);
	font-weight: bold;
	color: var(--font-color);
	font-size: 0.8rem;
	line-height: 1.3;
	vertical-align: baseline;
	position: relative;
}
.sidenote {
	text-indent: -1em;
	margin-left: 1em;
}
li .sidenote, li .marginnote { margin-right: -66%; width: 55% }
blockquote .sidenote, blockquote .marginnote { margin-right: -69% }
.sidenote-number { counter-increment: sidenote-counter; }
.sidenote-number:after, .sidenote:before {
	font-family: var(--mono);
	font-weight: bold;
	color: var(--accent-color);
	position: relative;
	vertical-align: baseline;
}
.sidenote-number:after {
	content: counter(sidenote-counter);
	font-size: 0.8rem;
	top: -0.3rem;
	left: 0.1rem;
}
.sidenote:before {
	content: counter(sidenote-counter) "\2009"; // unicode for thin space
	color: var(--accent-color);
	top: 0rem;
}
.marginnote code, .sidenote code, figcaption code, caption code {
	font-size: inherit;
	line-height: inherit;
	margin: 0;
	font-weight: normal;
}
.marginnote img { margin-top: 0.75em; }
input.margin-toggle { display: none; }
label.sidenote-number { display: inline; }
label.margin-toggle:not(.sidenote-number) { display: none; }

/* SYNTAX HIGHLIGHTING */

pre {
    background-color: #FDF6E3
}

/* KeyWordTok*/
.sourceCode .kw { color: #268BD2; }
/* DataTypeTok*/
.sourceCode .dt { color: #268BD2; }

/* DecValTok (decimal value), BaseNTok, FloatTok*/
.sourceCode .dv, .sourceCode .bn, .sourceCode .fl { color: #D33682; }
/* CharTok*/
.sourceCode .ch { color: #DC322F; }
/* StringTok*/
.sourceCode .st { color: #2AA198; }
/* CommentTok*/
.sourceCode .co { color: #93A1A1; }
/* OtherTok*/
.sourceCode .ot { color: #A57800; }
/* AlertTok*/
.sourceCode .al { color: #CB4B16; font-weight: bold; }
/* FunctionTok*/
.sourceCode .fu { color: #268BD2; }
/* RegionMarkerTok*/
.sourceCode .re { }
/* ErrorTok*/
.sourceCode .er { color: #D30102; font-weight: bold; }

/* Hypothesis */
.h-sidebar-iframe {
	max-height: 100%;
}

/* veille.html */
article .veille p:before,
article .veille ul li:before {
	content: none;
}
.veille ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
.veille .date {
	font-family: var(--mono);
	opacity: 0.7;
}

/* liens.html */
article .liens p:before,
article .liens ul li:before {
	content: none;
}
.liens ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
.liens a.uri {
	opacity: 0.7;
}


/* RESPONSIVENESS */
@media screen and (max-width: 600px) {
	html {
		font-size: 16px;
	}
}
@media screen and (min-width: 600px) and (max-width: 900px) {
	html {
		font-size: 20px;
	}
}
@media screen and (max-width: 900px) {
	body {
		max-width: 92%;
		margin-left: auto;
		margin-right: auto;
	}
	nav a { font-size: 1.5em }
	article { max-width: 576px; }
	article p,
	article section,
	figure,
	figure img.maincolumn,
	figcaption,
	pre,
	iframe,
	table.sourceCode.numberLines,
	hr::after {
		width: 100%;
		max-width: none;
	}
	article ul,
	article ol,
	article blockquote,
	.abstract p,
	p.abstract,
	.box p,
	.epigraph blockquote p {
		width: 97%;
		max-width: none;	
	}
	.epigraph blockquote p
	pre {
		width: 95%;
		overflow-x: scroll;
	}
	label.margin-toggle:not(.sidenote-number) {
		display: inline; color: var(--accent-color);
	}
	.sidenote, .marginnote {
		display: none;
	}
	.margin-toggle:checked + .sidenote,
	.margin-toggle:checked + .marginnote {
		display: block;
		float: left;
		left: 1rem;
		clear: both;
		width: 95%;
		margin: 1rem 2.5%;
		vertical-align: baseline;
		position: relative;
	}
	label {
		cursor: pointer;
	}
	.table-caption {
		display: block;
		float: right;
		clear: both;
		width: 98%;
		margin-top: 1rem;
		margin-bottom: 0.5rem;
		margin-left: 1%;
		margin-right: 1%;
		vertical-align: baseline;
		position: relative;
	}
	figcaption {
		float: none;
	}
	#refs div {
		text-indent: -0.75rem;
		padding-left: 0.75rem;
	}
	article p:before {
		font-size: 0.6em;
		margin-left: -1.8em;
		line-height: 2.6;
		opacity: 0.7;
	}
}